<h2>Attendance ADMIN</h2>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>Create a new attendance code (leave blank for random code - not done yet-):</p>
    <p>{{ form.code() }}</p>
    <p>The attendance code will be valid for 1 hour</p>
    <p>{{ form.submit() }}</p>
</form>
<div>
    {% if attendances %}
        {% for attendance in attendances %}
            <p>{{ attendance.code }} | {{ attendance.start_time }} -- {{ attendance.end_time }} |
                <a href="{{ url_for('attendance.attendees', code=attendance.code) }}">Attendees</a> |
                <a href="{{ url_for('attendance.display', code=attendance.code) }}">Display</a>
            </p>
        {% endfor %}
    {% else %}
        <p>No attendances recorded.</p>
    {% endif %}
</div>