{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}
<div class="main">
    <h2>Login</h2>
    <a href="{{ url_for('auth.authorize') }}" class="sign-in-google">Sign in with Google</a>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p style="color: #fd8585; margin-top: 10px;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% endblock %}