{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
<nav class="nav-transparent">
    <div class="nav-links">
        <div class="nav-top">
            <a href="" class="nav-logo">>WCI_</a>
            <button class="hamburger">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
        <div class="section-links">
            <a href="#about">About</a>
            <a href="#faq">FAQ</a>
            <a href="{{ url_for('attendance.attendance') }}">Attendance</a>
        </div>
    </div>
    <div class="nav-socials">
        <div class="social-icons">
            <a class="classroom" href="https://classroom.google.com/c/MTY1NzAzMDQzNjJa?cjc=c2prjk3" target="_blank" rel="noopener noreferrer">
                <i class="fa-solid fa-users-rectangle"></i>
            </a>
            <a class="instagram" href="https://www.instagram.com/wci_computer_science/" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
        <a class="nav-join-button" href="https://classroom.google.com/c/MTY1NzAzMDQzNjJa?cjc=c2prjk3" target="_blank" rel="noopener noreferrer">Join</a>
    </div>
</nav>

<div id="landing">
    <p class="meeting-time">Wednesdays from 2:30 - 4:00pm · Rm 418, 422, 424</p>
    <h1>Computer Science Club</h1>
    <p class="school">Waterloo Collegiate Institute</p>
    <p class="tagline">A community for <b>anyone</b> interested in <br><span class="typing-animation"></span></p>
    <a class="landing-button" href="https://classroom.google.com/c/MTY1NzAzMDQzNjJa?cjc=c2prjk3" target="_blank" rel="noopener noreferrer">Join our Classroom →</a>
    <div class="landing-gradient"></div>
    <div class="landing-image"></div>
</div>

<div id="about">
    <div class="about-text">
        <p id="about-header">> Learn more about computer science, software development, algorithms, and much more in our weekly meetings_</p>
        <p>You'll improve your problem-solving skills, hone your programming skills, and gain valuable insight into what it's like studying computer science or working in the tech industry. We have a beginner and advanced class, so you'll learn something no matter what your current skill level is.</p>
        <p>Feel free to stop by at one of our meetings on Wednesdays in Room 418!</p>
    </div>
    <div class="app-window">
        <div class="window-buttons">
            <div class="red"></div>
            <div class="yellow"></div>
            <div class="green"></div>
        </div>
        <h2>2023-24</h2>
        <ul class="checkbox">
            <li>workshops on software dev + tech</li>
            <li>competitions (with prizes)</li>
            <li>field trips to tech companies</li>
            <li>internship opportunities</li>
            <li>guest speakers</li>
        </ul>
        <ul class="green-check">
            <li>Beginner: coding basics in Python</li>
            <li>Advanced: algorithms + data structures</li>
        </ul>
    </div>
</div>

<div id="faq">
    <h2>Frequently asked questions</h2>
    {% for question in faq %}
        <input id="faq{{ loop.index }}" type="checkbox">
        <label for="faq{{ loop.index }}" class="faq-container">
            <p class="faq-heading">
                <span class="faq-arrow">></span>
                {{ question.question }}
            </p>
            <div class="faq-body">
                <p class="faq-text">{{ question.answer }}</p>
            </div>
        </label>
    {% endfor %}
</div>

<div id="contact">
    <h2>Any questions?</h2>
    <p>Reach out to us through <button id="email">email</button></p>
    <div class="contact-emails">
        <p>
            <a href="mailto:lauc5177@wrdsb.ca">Ching Lam</a>
            <a href="mailto:yangm0242@wrdsb.ca">Matthew</a>
            <a href="mailto:liny5987@wrdsb.ca">Yinuo</a>
        </p>
        <p>
            <a href="mailto:zhaoj1085@wrdsb.ca">Jonathan</a>
            <a href="mailto:yuanv7924@wrdsb.ca">Vivian</a>
        </p>
    </div>
    <a class="classroom" href="https://classroom.google.com/c/MTY1NzAzMDQzNjJa?cjc=c2prjk3" target="_blank" rel="noopener noreferrer">
        <i class="fa-solid fa-users-rectangle"></i>
        Classroom
    </a>
    <a class="instagram" href="https://www.instagram.com/wci_computer_science/" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-instagram"></i>
        Instagram
    </a>
</div>

{% include "includes/footer.html" %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<script>
    var typed = new Typed(".typing-animation", {
        strings: ["programming", "problem-solving", "technology"],
        typeSpeed: 70,
        backSpeed: 40,
        smartBackspace: false,
        loop: true,
    });
</script>
{% endblock %}