{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
<nav class="nav-transparent">
    <div class="nav-links">
        <div class="nav-top">
            <a href="" class="nav-logo">>WCI_</a>
            <button class="hamburger">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
        <div class="section-links">
            <a href="#about">About</a>
            <a href="#faq">FAQ</a>
        </div>
    </div>
    <div class="nav-socials">
        <div class="social-icons">
            <a class="classroom" href="https://classroom.google.com/c/MTY1NzAzMDQzNjJa?cjc=c2prjk3" target="_blank" rel="noopener noreferrer">
                <i class="fa-solid fa-users-rectangle"></i>
            </a>
            <a class="instagram" href="https://www.instagram.com/wci_computer_science/" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
        <a class="nav-join-button" href="https://classroom.google.com/c/MTY1NzAzMDQzNjJa?cjc=c2prjk3" target="_blank" rel="noopener noreferrer">Join</a>
    </div>
</nav>

<div id="landing">
    <p class="meeting-time">Wednesdays from 2:30 - 4:00pm · Rm 218</p>
    <h1>Computer Science Club</h1>
    <p class="school">Waterloo Collegiate Institute</p>
    <p class="tagline">A community for <b>anyone</b> interested in <br><span class="typing-animation"></span></p>
    <a class="landing-button" href="https://classroom.google.com/c/MTY1NzAzMDQzNjJa?cjc=c2prjk3" target="_blank" rel="noopener noreferrer">Join our Classroom →</a>
    <div class="landing-gradient"></div>
    <div class="landing-image"></div>
</div>

<div id="about">
    <div class="about-text">
        <h2>We will be covering new and exciting content!</h2>
        <p>You will learn something new about CS whether you’re a beginner or super advanced.</p>
        <p>We'll continue to teach the basics of coding and prepare for the CCC with algorithms and data structures.</p>
    </div>
    <div class="app-window">
        <div class="window-buttons">
            <div class="red"></div>
            <div class="yellow"></div>
            <div class="green"></div>
        </div>
        <h2>2022-23</h2>
        <ul class="checkbox">
            <li>app development</li>
            <li>workshops on new tech</li>
            <li>capture the flag competitions</li>
            <li>field trips</li>
            <li>internship opportunities</li>
            <li>new languages</li>
        </ul>
        <ul class="green-check">
            <li>Beginner: basics of coding</li>
            <li>Advanced: CCC preparation</li>
        </ul>
    </div>
</div>

<div id="faq">
    <h2>Frequently asked questions</h2>
    {% for question in faq %}
        <input id="faq{{ loop.index }}" type="checkbox">
        <label for="faq{{ loop.index }}" class="faq-container">
            <p class="faq-heading">
                <span class="faq-arrow">></span>
                {{ question.question }}
            </p>
            <div class="faq-body">
                <p class="faq-text">{{ question.answer }}</p>
            </div>
        </label>
    {% endfor %}
</div>

<div id="contact">
    <h2>Any questions?</h2>
    <p>Reach out to us through <button id="email">email</button></p>
    <div class="contact-emails">
        <p>
            <a href="mailto:haos8097@wrdsb.ca">Scott</a>
            <a href="mailto:olent1333@wrdsb.ca">Tristan</a>
            <a href="mailto:qiuj1973@wrdsb.ca">Jeffery</a>
        </p>
        <p>
            <a href="mailto:chenc8774@wrdsb.ca">Claire</a>
            <a href="mailto:lauc5177@wrdsb.ca">Ching Lam</a>
        </p>
    </div>
    <a class="classroom" href="https://classroom.google.com/c/MTY1NzAzMDQzNjJa?cjc=c2prjk3" target="_blank" rel="noopener noreferrer">
        <i class="fa-solid fa-users-rectangle"></i>
        Classroom
    </a>
    <a class="instagram" href="https://www.instagram.com/wci_computer_science/" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-instagram"></i>
        Instagram
    </a>
</div>

{% include "includes/footer.html" %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<script>
    var typed = new Typed(".typing-animation", {
        strings: ["programming", "problem-solving", "technology"],
        typeSpeed: 70,
        backSpeed: 40,
        smartBackspace: false,
        loop: true,
    });
</script>
{% endblock %}