.code-input {
    font-family: "Source Code Pro", monospace;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
    border: none;
    border-bottom: 2px solid #a1a1a1;
    border-radius: 3px;
    background-color: transparent;
    outline: none;
    padding: 10px 20px;
    margin-top: 20px;
}

.code-input:focus {
    border-bottom: 2px solid var(--accent-color);
}

.form-error {
    color: #fd8585;
    margin-top: 10px;
    margin-left: 2px;
}

.form-error-centered {
    text-align: center;
}

.form-submit {
    font-family: "Source Code Pro", monospace;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: var(--accent-color);
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin-top: 20px;
}

.admin-submit {
    width: 100px;
    margin-left: 10px;
}

.display-attendance {
    display: flex;
    width: 100%;
    max-width: 850px;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 40px;
}

.display-code {
    font-size: 150px;
}

.qr-code {
    padding: 10px;
    background-color: white;
    border-radius: 3px;
}

.attendance-instructions {
    text-align: center;
    font-size: 30px;
}

.attendance-instructions a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 600;
}

.attendance-container {
    margin-top: 50px;
}

.attendance-row {
    margin-top: 20px;
    font-size: 18px;
}

.attendance-row > .row-heading {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

.attendance-row > .display {
    display: inline-block;
    width: 70px;
}

.attendance-row > .code {
    display: inline-block;
    margin-left: 20px;
    width: 160px;
    font-weight: 600;
}

.attendance-row > .expiry {
    display: inline-block;
    margin-left: 20px;
    width: 200px;
}

.attendance-row > .attendees {
    display: inline-block;
    margin-left: 20px;
    width: 100px;
}

.attendance-row > .valid {
    display: inline-block;
    width: 100px;
    margin-left: 20px;
    color: rgb(60, 231, 60);
}

.attendance-row > .invalid {
    display: inline-block;
    width: 100px;
    margin-left: 20px;
}