<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WCI Computer Science</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    {% if not home %}
    <nav class="nav-transparent">
        <div class="nav-links">
            <div class="nav-top">
                <a href="{{ url_for('main.index') }}" class="nav-logo">>WCI_</a>
            </div>
        </div>
        <p class="user">
            Logged in as {{ current_user.first_name }} {{ current_user.last_name }} - 
            <a href="{{ url_for('auth.logout') }}">Log out</a>
        </p>
    </nav>
    {% endif %}
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>