<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WCI Computer Science</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <nav class="nav-transparent">
        <div class="nav-links">
            <div class="nav-top">
                <a href="" class="nav-logo">>WCI_</a>
                <button class="hamburger">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <div class="section-links">
                <a href="#about">About</a>
                <a href="#faq">FAQ</a>
            </div>
        </div>
        <div class="nav-socials">
            <div class="social-icons">
                <a class="classroom" href="https://classroom.google.com/c/MTY1NzAzMDQzNjJa?cjc=c2prjk3" target="_blank" rel="noopener noreferrer">
                    <i class="fa-solid fa-users-rectangle"></i>
                </a>
                <a class="instagram" href="https://www.instagram.com/wci_computer_science/" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
            <a class="nav-join-button" href="https://classroom.google.com/c/MTY1NzAzMDQzNjJa?cjc=c2prjk3" target="_blank" rel="noopener noreferrer">Join</a>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <div id="footer">
        <p>>WCI_</p>
        <div class="footer-links">
            <div class="footer-left">
                <a class="classroom" href="https://classroom.google.com/c/MTY1NzAzMDQzNjJa?cjc=c2prjk3" target="_blank" rel="noopener noreferrer">
                    <i class="fa-solid fa-users-rectangle"></i>
                    Classroom
                </a>
                <a class="instagram" href="https://www.instagram.com/wci_computer_science/" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-instagram"></i>
                    Instagram
                </a>
            </div>
            <div class="footer-right">
                <a href="">Home</a>
                <a href="#about">About</a>
                <a href="#contact">Contact</a>
            </div>
        </div>
        <div class="footer-rights">
            <p>Copyright © 2022 WCI Computer Science</p>
        </div>
    </div>
    {% block scripts %}{% endblock %}
</body>